<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Home | Gym Manager</title>
    </head>
    <body>
        <main>
            <section class="banner">
                <h1>Gym Manager</h1>
            </section>
            <section class="content">
                <div class="card instructor-card">
                    <a href="/instructors">
                        <h2>Instrutores</h2>
                    </a>
                </div>
                <div class="card member-card">
                    <a href="/members">
                        <h2>Membros</h2>
                    </a>
                </div>
            </section>
        </main>
    </body>
</html>