/* ============
==== GERAL ====
============ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 32px;
    text-align: center;
    background-color: #f5f5f5;
}

.links {
    font-size: 22px;
}

.links a:nth-of-type(2) {
    margin-left: 32px;
}

.links a {
    position: relative;
    text-decoration: none;
    color: #777;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
}

.links a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out;
}

/* ============
==== HOME ====
============ */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

main .banner {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 20px;
    background-image: url(../img/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    animation: from-left 700ms ease-out;
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
    }
}

.banner h1 {
    z-index: 1;
    font-size: 5em;
    color: #f5f5f5;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    border-radius: 4px;
}

main .content {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.content .card {
    position: relative;
    grid-template-columns: 1fr;
    
    margin: 20px 0;
    width: calc(100% - 20px);
    min-height: 200px;
    font-size: 2em;
    transition: .3s;
}

.content .card a {
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #f5f5f5;
}

.content .card:hover {
    filter: brightness(1.5);
    box-shadow: 0 2px 6px -1px #000;
}

.content .card:last-of-type{
    margin-top: 0;
}

.content .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    border-radius: 4px;
}

.instructor-card {
    background-image: url(../img/victor-freitas-nlZTjUZX2qo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.member-card {
    background-image: url(../img/members-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ===========
==== CARD ====
=========== */

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px auto;
    width: 800px;
    min-height: 400px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4);
    animation: up 700ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
    }
}

/* ==============
==== DETAILS ====
============== */

.details {
    padding: 32px
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details h3,
.details .item div:nth-of-type(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.details .item div:nth-of-type(2) {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.details h3 {
    text-transform: uppercase;
    color: var(--primary-color)
}

.details .item span,
span.services {
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
    background-color: var(--secondary-color);
    border-radius: 16px;
}

/* ===========
==== FORM ====
=========== */

input,
select {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    background-color: #f5f5f5;
    outline: none;
}

input[type="radio"] {
    margin-right: 4px;
    width: initial;
    cursor: pointer;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

a.button,
button[type="submit"] {
    margin-top: 32px;
    padding: 8px 16px;
    width: 100%;
    font-size: 16px;
    color: #f5f5f5;
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

a.button {
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
}

a.button:hover,
button:hover {
    filter: brightness(1.1);
    box-shadow: 0 2px 6px -1px var(--primary-color);
}

#form-delete button {
    margin-top: 8px;
    font-weight: bold;
    color: lightcoral;
    background: none;
}

#form-delete button:hover {
    color: #f5f5f5;
    background-color: lightcoral;
    box-shadow: 0 2px 6px -1px lightcoral;
}

/* ==================================
==== INDEX INSTRUCTORS / MEMBERS ====
================================== */

.table-container {
    box-sizing: border-box;
    display: grid;
    grid-template: 64px 1fr 16px / 1fr;
    padding: 40px;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td,
th {
    padding: 16px;
    color: #555;
    border-bottom: 1px solid #d9d9d9;
}

th {
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
}

tbody tr:last-child td {
    border: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 72px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 56px;
    height: 56px;
    background-position: center;
    background-size: cover;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px #000;
}

tr a.button {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.table-container thead tr th:last-child {
    text-align: center;
}

.table-container > a {
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 16px;
    width: initial;
    font-size: 14px;
    text-transform: uppercase;
}

/* ==============
==== FILTERS ====
============== */

.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: start;
    margin-bottom: 0;
}

.table-container .header a {
    margin: 0;
    width: 120px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    gap: 8px;
    align-items: center;
}

.table-container .header form input {
    box-sizing: border-box;
    padding: 6px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-container .header form button {
    margin: 0;
}

/* =================
==== PAGINATION ====
================= */

.table-container .pagination {
    align-self: end;
    justify-self: center;
    margin: 0;
}

.pagination a,
.pagination span {
    margin-right: 16px;
    text-decoration: none;
    color: var(--primary-color);
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 2px solid var(--primary-color);
}