{% extends 'layout.njk' %}

{% block head %}
    <title>Novo Instrutor | Gym Manager</title>
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/instructors">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover; border-radius: 4px 0 0 4px;"></section>
        <section class="details">
            <h3>Novo Instrutor</h3>
            {% include 'instructors/fields.njk' %}
        </section>
    </form>
{% endblock content %}