{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <a class="button" href="/instructors/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Atendimento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url({{instructor.avatar_url}});"></span>
                            {{instructor.name}}
                        </td>
                        <td>
                            {% for service in instructor.services.split(',') %}
                                <span class="services">{{service}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a class="button" href="/instructors/{{instructor.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}