{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="button" href="/instructors/create">Novo</a>
            <form action="/instructors" method="GET">
                <input type="text" name="filter" value="{{filter}}" placeholder="Nome ou atendimento">
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Atendimento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url({{instructor.avatar_url}});"></span>
                            {{instructor.name}}
                        </td>
                        <td>
                            {% for service in instructor.services.split(',') %}
                                <span class="services">{{service}}</span>
                            {% endfor %}
                        </td>
                        <td>{{instructor.total_students}}</td>
                        <td>
                            <a class="button" href="/instructors/{{instructor.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
        ></div>
    </div>
{% endblock content %}