<script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', function (e) {
        const confirmation = confirm('Deseja deletar?')
        if (!confirmation) {
            e.preventDefault()
        }
    })
</script>