<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Gym Manager</title>
    {% endblock %}
    <meta charset="UTF-8">
    <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
        </div>
    </header>

    {% block content %}{% endblock %}
    <script src="/js/scripts.js"></script>
</body>
</html>